h2, h3, h4, h5, h6 { color: #547B97; }

/* Layout - Calendar */

a.cc-event:link,
a.cc-event:visited { background-color: #975459; }
a.cc-event:hover { background-color: #6A3333; }

a.cc-own:link,
a.cc-own:visited { background-color: #8BB243; }
a.cc-own:hover { background-color: #5F8024; }

a.cc-try:link,
a.cc-try:visited { background-color: #e5e68b; }
a.cc-try:hover { background-color: #e5e68b; }

a.cc-single:link,
a.cc-single:visited { background-color: #808D96; }
a.cc-single:hover { background-color: #55a0e0; }

a.cc-multiple:link,
a.cc-multiple:visited { background-color: #547B97; }
a.cc-multiple:hover { background-color: #334F6A; }

a.cc-conflict:link,
a.cc-conflict:visited { background-color: #334F6A; }
a.cc-conflict:hover { background-color: #334F6A; }

/* Layout - Alternate Calendar */

.cc-range-member a {
    border-color: #547B97 !important;
    background-color: #547B97 !important;
}

/* General Purpose - Classes */

.my-highlight { color: #5F8024; }

.badge { background-color: #547B97; }
.badge-label { color: #547B97; }

/* Links */

a:link, a:visited { color: #334F6A; }

/* @media (max-width: 1024px) {
    #calendar {
        overflow: scroll;
    }
}

@media (max-width: 512px) {
    .calendar-date-table.full-width {
        min-width: 800px;
    }
} */

/* @media (max-width: 1024px) {
    #label-client {
        margin-top: 16px;
    }

    #branding,
    #topbar-contact,
    #topbar-infos,
    #topbar-phone,
    #topbar-separator,
    #topbar > div:not(#topbar-contact):not(#topbar-separator) {
        display: none !important;
    }

    #calendar {
        overflow: scroll;
    }
}

@media (max-width: 512px) {
    #label-client,
    #label-service {
        text-align: left;
        text-indent: 91px;
    }

    #label-service {
        font-size: 24px;
    }
}

@media (max-width: 500px) {
    .calendar-date-row > td {
        text-align: left;
        padding-left: 1rem;
    }

    .calendar-date-table.full-width {
        min-width: 800px;
    }
} */

@media (max-width: 1024px) {
	.panel {
		background: #ffffff;
		-webkit-overflow-scrolling: touch;
		overflow-x: auto;
    }
}