.no-border,
.tennis-rudolstadt #header,
.tennis-rudolstadt #footer {
  border: none;
}
body.tennis-rudolstadt {
  # qs
  background: #1e73be;
  # prod
  # background: #a4b6c4;
  # background: #fff;

  min-width: 320px;
  padding: 6px;
}
@media (min-width: 1024px) {
  body.tennis-rudolstadt {
    padding: 16px;
  }
}
body.tennis-rudolstadt > div.panel:first-child {
  padding: 6px;
}
@media (min-width: 480px) {
  s-rudolstadt body.tennis-rudolstadt > div.panel:first-child {
    padding: 16px;
  }
}
.tennis-rudolstadt #label-client {
  color: #fff;
  margin-top: 0px;
}
.tennis-rudolstadt #label-service-phone {
  margin-left: 91px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  padding-top: 3px;
  display: none;
}
.tennis-rudolstadt #topbar-phone,
.tennis-rudolstadt #topbar-i18n {
  margin-top: 0px;
}
.tennis-rudolstadt #header {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
@media (max-width: 1024px) {
  .tennis-rudolstadt #header #label {
    float: left;
  }
  .tennis-rudolstadt #header #topbar {
    float: right;
    margin: 0px;
  }
  .tennis-rudolstadt #header #topbar #topbar-i18n,
  .tennis-rudolstadt #header #topbar #topbar-phone {
    float: right;
    margin-top: 0px;
  }
}
@media (max-width: 679px) {
  .tennis-rudolstadt #header #topbar #topbar-phone {
    display: none !important;
  }
  .tennis-rudolstadt #header #label-service-phone {
    display: block;
  }
}
@media (max-width: 512px) {
  .tennis-rudolstadt #header #label-client,
  .tennis-rudolstadt #header #label-service {
    text-align: left;
    text-indent: 91px;
  }
  .tennis-rudolstadt #header #topbar-i18n {
    position: relative;
    padding: 0px;
  }
}
.tennis-rudolstadt #footer,
.tennis-rudolstadt #footer a {
  color: #fff;
  font-size: 12px;
}
.tennis-rudolstadt #logo {
  height: 50px;
}
.tennis-rudolstadt #calendar.panel {
  padding: 6px;
}
#.tennis-rudolstadt #calendar-toolbar .panel {
#  padding: 6px;
#  margin-bottom: 6px;
#}
.tennis-rudolstadt #calendar-toolbar-userpanel {
  padding: 6px;
  margin-bottom: 6px;
}

.tennis-rudolstadt #calendar-toolbar-datepicker {
  padding: 4px;
  margin-bottom: 6px;
}

@media (min-width: 480px) {
  .tennis-rudolstadt #calendar-toolbar .panel {
    margin-bottom: 16px;
  }
}
@media (max-width: 1100px) {
  .tennis-rudolstadt #calendar-toolbar-userpanel .responsive-pass-4 {
    display: none;
  }
  .tennis-rudolstadt #calendar-toolbar-userpanel .responsive-pass-4.never-hide-table-cell {
    display: table-cell;
  }
  .tennis-rudolstadt #calendar-toolbar-userpanel .responsive-pass-4.never-hide-block {
    display: block;
  }
  .tennis-rudolstadt #calendar-toolbar-userpanel .responsive-pass-4.never-hide-inline-block {
    display: inline-block;
  }
  .tennis-rudolstadt #calendar-toolbar-userpanel .responsive-pass-4.never-hide-inline {
    display: inline;
  }
}
@media (max-width: 870px) {
  .tennis-rudolstadt #calendar-toolbar-userpanel .symbolic-label {
    display: none;
  }
  .tennis-rudolstadt #calendar-toolbar-userpanel .symbolic-booking::before,
  .tennis-rudolstadt #calendar-toolbar-userpanel .symbolic-user::before,
  .tennis-rudolstadt #calendar-toolbar-userpanel .symbolic-off::before {
    content: " ";
  }
  .tennis-rudolstadt #calendar-toolbar-userpanel .symbolic-booking {
    padding-left: 12px;
  }
  .tennis-rudolstadt #calendar-toolbar-userpanel .symbolic-user {
    padding-left: 10px;
  }
  .tennis-rudolstadt #calendar-toolbar-userpanel .symbolic-off {
    padding-left: 11px;
  }
  .tennis-rudolstadt #calendar-toolbar-userpanel .symbolic-config {
    padding-left: 12px;
  }
}
@media (min-width: 700px) {
  .tennis-rudolstadt #calendar .calendar-table .calendar-date-col {
    display: table-cell;
  }
}
@media (max-width: 699px) and (min-width: 480px) {
  .tennis-rudolstadt #calendar .calendar-table .calendar-date-col.responsive-pass-4,
  .tennis-rudolstadt #calendar .calendar-table .calendar-date-col.responsive-pass-3,
  .tennis-rudolstadt #calendar .calendar-table .calendar-date-col.responsive-pass-2,
  .tennis-rudolstadt #calendar .calendar-table .calendar-date-col.responsive-pass-1:nth-of-type(6) {
    display: table-cell;
  }
}
@media (max-width: 699px) and (min-width: 320px) {
  .tennis-rudolstadt #calendar .calendar-table .calendar-date-col.responsive-pass-4 {
    display: table-cell;
  }
  .tennis-rudolstadt #calendar-toolbar-datepicker {
    margin-left: 0px;
    margin-right: 0px;
  }    
}
@media (max-width: 320px) {
  body.tennis-rudolstadt {
    padding-left: 0px;
    padding-right: 0px;
  }
  .tennis-rudolstadt #calendar-toolbar-datepicker {
    margin-left: 0px;
    margin-right: 0px;
  }
  .tennis-rudolstadt #calendar .calendar-table .calendar-date-col.responsive-pass-4 {
    display: table-cell;
  }
  
}    
@media (max-width: 480px) {
  .tennis-rudolstadt form#rf table td,
  .tennis-rudolstadt form#lf table td,
  .tennis-rudolstadt form#pf table td,
  .tennis-rudolstadt form#epf table td,
  .tennis-rudolstadt form#eef table td,
  .tennis-rudolstadt form#enf table td,
  .tennis-rudolstadt form#daf table td {
    display: block;
  }
  .tennis-rudolstadt form#rf table td.default-form-label-row,
  .tennis-rudolstadt form#lf table td.default-form-label-row,
  .tennis-rudolstadt form#pf table td.default-form-label-row,
  .tennis-rudolstadt form#epf table td.default-form-label-row,
  .tennis-rudolstadt form#eef table td.default-form-label-row,
  .tennis-rudolstadt form#enf table td.default-form-label-row,
  .tennis-rudolstadt form#daf table td.default-form-label-row {
    text-align: left;
  }
  .tennis-rudolstadt form#rf table td input#daf-why,
  .tennis-rudolstadt form#lf table td input#daf-why,
  .tennis-rudolstadt form#pf table td input#daf-why,
  .tennis-rudolstadt form#epf table td input#daf-why,
  .tennis-rudolstadt form#eef table td input#daf-why,
  .tennis-rudolstadt form#enf table td input#daf-why,
  .tennis-rudolstadt form#daf table td input#daf-why {
    width: 250px !important;
  }
}
/*@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select:focus,
  textarea,
  input {
    font-size: 16px;
  }
}
*/

/* HIDE RADIO */
.payment_radio > input { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
.payment_radio {
  cursor: pointer;
}

.payment_radio > input + img {
  padding: 5px;
}

.payment_radio:hover > input + img {
  outline: 2px solid orange;
}

/* CHECKED STYLES */
.payment_radio > input:checked + img {
  outline: 2px solid gray;
}

