<?php
/**
 * project application configuration
 *
 */

// basepath of the instance on your server - i.e. tvas-booking-dev for https://tennis-rudolstadt.de/tvas-booking-dev
$project = '?';

return array(
    'project' => $project,
    // origin url of your server - http://yourip
    'baseurl' => '?',
    // the proxy url - i.e. https://tennis-rudolstadt.de
    'proxyurl' => '?',
    'cookie_config' => array(
        'cookie_name_prefix' => $project,
    ),
    'redirect_config' => array(
        'cookie_name' => $project.'-origin',
        'default_origin' => 'frontend',
    ),
    'session_config' => array(
        'name' => $project.'-session',
        'save_path' => getcwd() . '/data/session/',
        'use_cookies' => true,
        'use_only_cookies' => true,
    ),
    'genDoorCode' => false,
    'doorCodeTimeBuffer' => '15 minutes',
    // API http request for your door system
    'doorCodeRequest' => '?',
    // show a flash message where you can manually book if you disable all payment methods 
    'tmpBookingAt' => '?',
    // enable/disable specific payment providers 
    'paypal' => true,
    'stripe' => true,
    // enable/disable addditional stripe payment methods like sepa_debit
    'stripePaymentMethods' => array(
        'card',
        'sepa_debit'
    ),
    // not yet implemented
    'klarna' => false
);

