<?php
/**
 * project application configuration
 *
 */


$instance = 'tvas-booking-dev';

return array(
    // basepath of the instance on your server - i.e. tvas-booking-dev for https://tennis-rudolstadt.de/tvas-booking-dev or '' if you don't have a basepath square/ i.e. 
    'basepath' => $instance,
    // origin url of your server - http://yourip - if  you don't have a proxy, baseurl and proxyurl should be the same like https://tennis-rudolstadt.de
    'baseurl' => '?',
    // the proxy url - i.e. https://tennis-rudolstadt.de
    'proxyurl' => '?',
    'cookie_config' => array(
        'cookie_name_prefix' => $instance,
    ),
    'redirect_config' => array(
        'cookie_name' => $instance.'-origin',
        'default_origin' => 'frontend',
    ),
    'session_config' => array(
        'name' => $instance.'-session',
        'save_path' => getcwd() . '/data/session/',
        'use_cookies' => true,
        'use_only_cookies' => true,
    ),
    'genDoorCode' => false,
    'doorCodeTimeBuffer' => '15 minutes',
    // API http request for your door system
    'doorCodeRequest' => '?',
    // show a flash message where you can manually book if you disable all payment methods 
    'tmpBookingAt' => '?',
    // enable/disable specific payment providers 
    'paypal' => true,
    'stripe' => true,
    // enable/disable additional stripe payment methods like sepa_debit
    'stripePaymentMethods' => array(
        'card',
        'sepa_debit'
    ),
    // not yet implemented
    'klarna' => false,
    // classic behaviour of ep3-bs with booking on bill 
    'billing' => false,
);

